<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Cartes annonces</div>
      </div>

      <% if @announcements.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Aucune photo n'est encore spécifiée.</h3>
          </div>
        </div>
      <% else %>
        <table class="table">
          <th>Titre</th>
          <th>Photos</th>
          <% @announcements.each do |announcement| %>
            <tr>
              <td>
                <%= link_to announcement.title, edit_admin_announcement_path(announcement.id) %>
              </td>
              <td>
                <%= image_tag(announcement.image_url, size: '288x96') if announcement.image_url.present? %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= paginate @paginated %>
  </div>
</div>
