<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <ol class="breadcrumb">
        <li><%= link_to "Jobs", admin_super_admin_jobs_metrics_path %></li>
        <li class="active">Lancer un job</li>
      </ol>

      <!-- Fermer les maraudes en cours -->
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Fermer les maraudes en cours</div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Daily at 2:30 AM UTC</h3>
        </div>
      </div>

      <%= button_to "Exécuter", admin_super_admin_force_close_tours_path,
          method: :post, class: "btn btn-default btn-sm", data: {
            confirm: "Êtes vous sûr ?"
          }, form: { style: "display: inline-block" }
      %>
    </div>

    <div class="col-xs-offset-2 col-xs-8">
      <!-- Envoyer un mail de rappel des messages non lus -->
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Envoyer un mail de rappel des messages non lus</div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Daily at 6:00 AM UTC</h3>
        </div>
      </div>

      <%= button_to "Exécuter", admin_super_admin_unread_reminder_email_path,
          method: :post, class: "btn btn-default btn-sm", data: {
            confirm: "Êtes vous sûr ?"
          }, form: { style: "display: inline-block" }
      %>
    </div>

    <div class="col-xs-offset-2 col-xs-8">
      <!-- Envoyer les messages de bienvenue -->
      <div class="h1" style="display: flex; align-items: center;">
        <div style="flex-grow: 1">Envoyer les messages de bienvenue</div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Every 10 minutes</h3>
        </div>
      </div>

      <%= button_to "Exécuter", admin_super_admin_onboarding_sequence_send_welcome_messages_path,
          method: :post, class: "btn btn-default btn-sm", data: {
            confirm: "Êtes vous sûr ?"
          }, form: { style: "display: inline-block" }
      %>
    </div>
  </div>
</div>

