<%= form_tag(update_sourcing_admin_moderation_area_path(moderation_area), method: :patch, remote: true, id: "update-sourcing-form-#{moderation_area.id}", class: "update-form") do %>
  <div class="btn btn-<%= moderation_area.sourcing && moderation_area.sourcing.slack_id.blank? ? "danger" : "default" %>">
    <%= select_tag 'sourcing_id', options_for_select(moderators_for_select, moderation_area.sourcing_id), include_blank: true, class: "form-control update-select" %>
  </div>
<% end %>
