<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <h2>Modification votre compte</h2>
      <%= render partial: "form" %>
    </div>
    <br>
    <hr>
    <div class="row">
      <p>Rendez vous sur <a href="http://www.entourage.social/">le site grand public d'entourage</a></p>
    </div>
  </div>
</div>
