<% if flash[:success].present? || flash[:notice].present? || flash[:error].present? %>
  <div class="mb-4">
    <% if flash[:success].present? %>
      <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:notice].present? %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error].present? %>
      <div class="alert alert-danger"><b>Erreur :</b> <%= flash[:error] %></div>
    <% end %>
  </div>
<% end %>
