<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <ol class="breadcrumb">
        <li><%= link_to "Associations", admin_partners_path %></li>
        <li class="active"><%= @partner.name %></li>
      </ol>

      <h1><%= @partner.name %></h1>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
