<%= javascript_include_tag 'generate_tour' %>
<%= stylesheet_link_tag 'generate_tour' %>

<h1>Tracer votre maraude</h1>

<div id="map" style="height:500px;"></div>
<div id="bar">
  <p class="auto"><input type="text" id="autoc"/></p>
</div>