<h3>Statistiques de la recherche</h3>
<h4>{{pluralize encounter_count 'rencontre' 'rencontres'}}</h4>
<h4>{{pluralize tourer_count 'maraudeur actif' 'maraudeurs actifs'}}</h4>
<h4>{{pluralize tour_count 'maraude réalisée' 'maraudes réalisées'}}</h4>
