<div class="container">
  <div style="width: 750px; margin: auto">
    <ol class="breadcrumb">
      <li><%= link_to "Diffusions de MP", admin_conversation_message_broadcasts_path %></li>
      <li class="active">Modifier</li>
    </ol>

    <h2>
      <span class="text-muted">#<%= @conversation_message_broadcast.id %></span>
      <%= @conversation_message_broadcast.content %>
    </h2>

    <%= render partial: 'form' %>
  </div>
</div>
