<div class="container">
  <div style="width: 750px; margin: auto">
    <ol class="breadcrumb">
      <li><%= link_to "Broadcasts", admin_conversation_message_broadcasts_path %></li>
      <li class="active">Nouveau broadcast</li>
    </ol>

    <h1>Nouveau broadcast</h1>

    <%= render partial: 'form' %>
  </div>
</div>
