<div class="container-s mt-6 mb-2 px-3">
  <%= form_tag identify_good_waves_session_path do |f| %>
    <div class="mb-2">
      <label>Pour commencer, saisissez votre numéro de téléphone.</label>
      <%= phone_field_tag :phone, params[:phone], class: 'form-control', placeholder: "Numéro de téléphone", required: true, autocomplete: :tel %>
      <% if params[:error] == 'invalid_phone_format' %>
        <div class="text-small color-danger mt-05">Saisissez un numéro de téléphone valide</div>
      <% end %>
    </div>
    <div class="text-right">
      <%= submit_tag "Inscription ou Connexion", class: "btn btn-primary" %>
    </div>
    <%= hidden_field_tag :continue, request.path %>
  <% end %>
</div>
