<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Conversations", admin_conversations_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle conversation</h1>

  <div class="alert alert-info" role="alert" style="display: flex; align-items: center">
    <div style="flex-grow: 1">
        <b>Participants</b><br>
        La conversation aura automatiquement comme participant le modérateur qui crée la conversation.
    </div>
  </div>

  <%= render partial: 'form' %>
</div>
