<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Conversations", admin_conversations_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle conversation</h1>

  <%= render partial: 'form' %>
</div>
