<div class="container">
  <%= render 'show_header', tab: :show %>

  <br>

  <% if !@new_conversation %>
    <%= render partial: 'actions', locals: { conversation: @conversation } %>
  <% end %>
  <br>

  <%= render partial: "chat_messages_list", chat_messages: @chat_messages %>
</div>
