<div class="container">
  <%= link_to('<- Retourner à la liste des messages', admin_conversations_path) %>
  <div class="pull-right">
    <%= link_to nil, "http://www.entourage.social/entourages/#{@conversation.uuid_v2}", target: :_blank %>
  </div>
  <%
    def display_name user
      [user.first_name, user.last_name].map(&:presence).compact.join(' ')
    end
  %>
  <%
    n = 3
    recipient_names =
      @recipients.first(n).map { |u| display_name u }
    if @recipients.count == (n + 1)
      recipient_names.push "1 autre personne"
    elsif @recipients.count > (n + 1)
      recipient_names.push "#{@recipients.count - n} autres personnes"
    end
  %>
  </br>
  <h2><%= recipient_names.join(', ') %></h2>

  <%= render partial: "chat_messages_list", chat_messages: @chat_messages %>
</div>
