<div class="container"
     data-controller="chat-messages"
     data-chat-messages-messageable-id-value="<%= @conversation.id || @conversation.uuid_v2 %>"
     data-chat-messages-messageable-type-value="Entourage">
  <%= render 'show_header', tab: :show %>

  <br>

  <% if !@new_conversation %>
    <%= render partial: 'actions', locals: { conversation: @conversation } %>
  <% end %>
  <br>

  <%= render partial: "chat_messages_list", chat_messages: @chat_messages %>
</div>
