<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Photos de groupe de voisinage", admin_neighborhood_images_path %></li>
    <li class="active">Modification d'une photo</li>
  </ol>

  <h2>
    <span class="text-muted">#<%= @neighborhood_image.id %></span>
    <%= @neighborhood_image.title %>
  </h2>

  <%= render partial: 'form' %>
</div>
