<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Photos de groupe de voisinage", admin_neighborhood_images_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle photo de groupe de voisinage</h1>

  <%= render partial: 'form' %>
</div>
