<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @successes.count %> POI importés.

    <%= @errors.count %> erreurs :

    <ul>
      <% @errors.each do |error| %>
        <li><%= error[0] %> : <%= error[1] %></li>
      <% end %>
    </ul>
  </body>
</html>
