<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Bonjour,
    </p>
    <p>
      Merci de trouver en pièce jointe un export des POI filtrés sur l'application Entourage.
    </p>
    <p>
      Cordialement,
    </p>
    <p>
      L'équipe Entourage
    </p>
  </body>
</html>
