<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bonjour <%= @user.first_name %>,
</p>
<p>
  Votre demande d'adhésion à la plateforme Entourage a été acceptée ! Nous sommes ravis de vous compter parmi les utilisateurs d'Entourage Pro.
</p>
<p>
  Retrouvez vos maraudes à cette adresse : <%= ENV['HOST'] %> <br>
  Vous pouvez vous identifier avec votre numéro de téléphone et le code qui vous a été envoyé par SMS. Ces mêmes login et code d'accès permettent de vous identifier également dans l'app mobile.<br>
  Pour toutes questions, n'hésitez pas à contacter Bénédicte : <br>
  benedicte@entourage.social ou bien <br>
  06 12 34 39 89 <br>
</p>
<p>
  Merci,
  L'équipe Entourage
</p>
</body>
</html>
