<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
    Bonjour <%= @user.first_name %>,
</p>
<p>
    Bienvenue sur entourage. Pour toutes questions, n'hésitez pas à contacter le support : <br>
    benedicte@entourage.social ou bien <br>
    06 12 34 39 89 <br>
</p>
--
<p>
    <img src="https://s3-eu-west-1.amazonaws.com/entourage-ressources/logo.png" alt="" height="96" width="96"> <br>
    L'équipe d'Entourage <br>
    "Un peu de chaleur humaine" <br>
</p>
<p>Suivez notre actualité sur : <a href="http://blog.entourage.social/">http://blog.entourage.social/</a></p>
<p>Retrouvez nous sur les réseaux sociaux :</p>
<ul>
    <li>Facebook : <a href="https://www.facebook.com/EntourageReseauCivique"> EntourageReseauCivique </a></li>
    <li>Twitter : <a href="https://twitter.com/r_entour"> @R_Entour </a></li>
    <li>Linkedin : <a href="https://www.linkedin.com/company/9177905?trk=prof-0-ovw-curr_pos"> Entourage, Réseau Civique </a></li>
    <li>Viadeo : <a href="http://fr.viadeo.com/fr/company/entourage1"> Entourage  </a></li>
</ul>
</body>
</html>
