<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bienvenue <%= @user.first_name %> !
</p>
<p>
  Je suis Claire du <a href="http://www.entourage.social/">Réseau Entourage</a>. <br>
  Vous faites partie des premiers utilisateurs. Et ça, vous pourrez le raconter à vos petits-enfants plus tard : <u>c'est grâce aux pionniers comme vous que le réseau pourra avoir un véritable impact social !</u>
</p>
<p>
  <span style="font-size:14.6667px;font-family:arial;color:rgb(220,84,20);vertical-align:baseline;white-space:pre-wrap;background-color:transparent">Pourquoi Entourage ?</span><br>
  Parce que tous ensemble, on peut lutter contre la solitude des personnes sans-abri autour de nous.<br>
  Vous croisez souvent des personnes SDF mais “vous ne savez pas comment faire” pour les aider ? Avec l’appli Entourage, vous pouvez :<br>
<ul>
  <li><u>VOUS FORMER : avoir les clefs pour créer du lien, étape par étape, grâce à notre guide <a href="bit.ly/simplecommebonjour"> « Simple comme bonjour » ! </a> </u></li>
  <li><u>VOUS INFORMER : accéder à des ressources pour orienter au mieux les personnes dans le besoin vers des structures d'aide</u></li>
  <li><u>AGIR : postez et rejoignez des actions bienveillantes avec les voisins du réseau</u> </li>
</ul>
</p>
<p>
  <span style="font-size:14.6667px;font-family:arial;color:rgb(220,84,20);vertical-align:baseline;white-space:pre-wrap;background-color:transparent">Des questions ?</span><br>
  Pour vos premiers pas sur l'appli, vous pouvez vous aider de ce <a href="https://www.youtube.com/watch?v=lqTDzP7_y0s">tutoriel vidéo</a> !
</p>
<p>
  <span style="font-size:14.6667px;font-family:arial;color:rgb(220,84,20);vertical-align:baseline;white-space:pre-wrap;background-color:transparent">Des idées pour améliorer l’application ?</span><br>
  Grâce à vos retours, le réseau Entourage se développera pour toujours plus de solidarité autour de nous.<br>
  N’hésitez pas à me répondre par mail, je suis disponible pour échanger avec vous.
</p>
<p>
  On compte sur vous pour poster ou rejoindre des actions : on vous donne des <a href="bit.ly/actionsfaciles">idées d’actions faciles à créer ici</a> !
  À très bientôt sur Entourage </p>
--
<p>
  <img src="https://s3-eu-west-1.amazonaws.com/entourage-ressources/mail-signature.png" alt="" height="297" width="415"> <br>
</p>
<p>Suivez notre actualité sur <a href ="http://blog.entourage.social/"> notre blog</a></p>
<p>Retrouvez nous sur les réseaux sociaux :</p>
<ul>
  <li>Facebook : <a href="https://www.facebook.com/EntourageReseauCivique"> EntourageReseauCivique </a></li>
  <li>Twitter : <a href="https://twitter.com/r_entourage"> @R_Entourage </a></li>
  <li>Linkedin : <a href="https://www.linkedin.com/company/9177905?trk=prof-0-ovw-curr_pos"> Entourage, Réseau Civique </a></li>
  <li>Instagram : <a href="http://instagram.com/reseauentourage"> Réseau Entourage </a></li> 
</ul>
</body>
</html>