<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  <a href="<%= ENV['WEBSITE_URL'] %>/deeplink/feed" style="border:0;outline:0">
    <img src="https://s3-eu-west-1.amazonaws.com/entourage-ressources/assets/emails/welcome/header.png" alt="" width="472" height="111" style="max-width:100%;height:auto">
  </a>
  <br>
</p>
<p>
  Bienvenue <%= @user.first_name %> !
</p>
<p>
  Je suis Claire du <a href="<%= ENV['WEBSITE_URL'] %>/?utm_source=email&utm_medium=email&utm_campaign=welcome_email">Réseau Entourage</a>. Merci d&#39;avoir rejoint la communauté de voisins engagés contre la solitude des personnes sans-abri !
</p>
<p><br></p>
<p><b><span style="color:#dc5414;font-family:arial;font-size:14.6667px;white-space:pre-wrap">À plusieurs, c&#39;est plus facile d&#39;agir<br></span></b></p>
<div>Voisins avec ou sans-abri, associations du quartier... Les membres du réseau Entourage ont besoin de vous pour mener à bien leurs actions. </div>
<div><br></div>
<div>Découvrez l&#39;application mobile :</div>
<div>
  <ul>
    <li><b>Rejoignez ou créez des actions</b> pour venir en aide aux sans-abri de votre quartier</li>
    <li><b>Entamez la discussion </b>avec vos voisins bienveillants</li>
    <li><b>Consultez le guide des structures solidaires </b>accessibles aux sans-abri. </li>
  </ul>
  <div><br></div>
</div>
<p><b><span style="color:#dc5414;font-family:arial;font-size:14.6667px;white-space:pre-wrap">Des conseils concrets pour oser la rencontre</span></b></p>
<p>Vous croisez souvent des personnes sans-abri, mais vous ne savez pas comment faire le premier pas ? <br></p>
<p>Découvrez les mini-films <a href="http://www.simplecommebonjour.org/?utm_source=email&utm_medium=email&utm_campaign=welcome_email">Simple comme Bonjour</a></p>
<ul>
  <li><b>Et si on comprenait ?</b> S&#39;informer sur le monde de la rue et déconstruire nos préjugés.</li>
  <li><b>Et si on changeait de regard ?</b> Comprendre que l&#39;on est une partie essentielle de la solution.</li>
  <li><b>Et si on agissait ?</b> Des conseils concrets pour aller à la rencontre de nos voisins sans-abri</li>
</ul>
<ul></ul>
<p></p>
<div></div>
<p></p>
<div>
  <br>
  <a href="http://www.simplecommebonjour.org/?utm_source=email&utm_medium=email&utm_campaign=welcome_email" style="border:0;outline:0">
    <img src="https://s3-eu-west-1.amazonaws.com/entourage-ressources/assets/emails/welcome/videos.jpg" alt="vidéo Simple comme Bonjour : Et si on comprenait le monde de la rue" width="395" height="289" style="max-width:100%;height:auto">
  </a>
</div>
<p><br></p>
<p><span style="color:#dc5414;font-family:arial;font-size:14.6667px;white-space:pre-wrap">Des question, des idées d&#39;améliorations ?</span><br></p>
<p>N’hésitez pas répondre à cet email pour me faire part de vos retours, pour que le réseau Entourage mobilise toujours plus de solidarité autour des sans-abri.</p>
<p>À très bientôt,</p>
<p>Claire de l'équipe Entourage.</p>
</body>
</html>
