<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bienvenue <%= @user.first_name %> !
</p>
<p>
  Je suis Claire du <a href="http://www.entourage.social/">réseau Entourage</a>. <br>
  Vous faites partie des premiers utilisateurs. Et ça, vous pourrez le raconter à vos petits-enfants plus tard : <u>c'est grâce aux pionniers comme vous que le réseau pourra avoir un véritable impact social !</u>
</p>
<p>
  <span style="font-size:14.6667px;font-family:arial;color:rgb(220,84,20);vertical-align:baseline;white-space:pre-wrap;background-color:transparent">Pourquoi Entourage ?</span><br>
  Parce que tous ensemble, on peut lutter contre l’isolement relationnel des personnes sans-abri autour de nous.<br>
  Vous croisez souvent des sdf mais “vous ne savez pas comment faire” pour les aider ?<br>
  <ul>
    <li><u>Postez et rejoignez des actions bienveillantes</u> avec les voisins du réseau</li>
    <li><u>Consultez des ressources</u> pour orienter au mieux les personnes dans le besoin vers des structures d'aide</li>
  </ul>
</p>
<p>
  <span style="font-size:14.6667px;font-family:arial;color:rgb(220,84,20);vertical-align:baseline;white-space:pre-wrap;background-color:transparent">Des questions ?</span><br>
  Pour vos premiers pas sur l'appli, vous pouvez vous aider de ce <a href="https://www.youtube.com/watch?v=lqTDzP7_y0s">tutoriel vidéo</a> !
</p>
<p>
  <span style="font-size:14.6667px;font-family:arial;color:rgb(220,84,20);vertical-align:baseline;white-space:pre-wrap;background-color:transparent">Des idées pour améliorer l’application ?</span><br>
  Grâce à vos retours, le réseau Entourage se développera pour toujours plus de solidarité autour de vous.<br>
  N’hésitez pas à m’appeler au <b>06 88 51 45 03</b> ou à me répondre par mail, je suis disponible pour échanger avec vous. Et merci pour votre patience pendant que nous chassons les bugs !
</p>
<p>
  On compte sur vous pour créer ou rejoindre des actions : à très bientôt sur Entourage !
</p>
--
<p>
    <img src="https://s3-eu-west-1.amazonaws.com/entourage-ressources/mail-signature.png" alt="" height="297" width="415"> <br>
</p>
<p>Suivez notre actualité sur : <a href="http://blog.entourage.social/">http://blog.entourage.social/</a></p>
<p>Retrouvez nous sur les réseaux sociaux :</p>
<ul>
    <li>Facebook : <a href="https://www.facebook.com/EntourageReseauCivique"> EntourageReseauCivique </a></li>
    <li>Twitter : <a href="https://twitter.com/r_entour"> @R_Entour </a></li>
    <li>Linkedin : <a href="https://www.linkedin.com/company/9177905?trk=prof-0-ovw-curr_pos"> Entourage, Réseau Civique </a></li>
</ul>
</body>
</html>
