<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="messageModalLabel">Envoi du code secret</h4>
      </div>
      <div class="modal-body">
        <p>Souhaitez vous envoyer le code secret par SMS maintenant ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="send_now">Maintenant</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="send_later">Plus tard</button>
      </div>
    </div>
  </div>
</div>