<p>
    CONDITIONS GÉNÉRALES D’UTILISATION
</p>
<p>
    ENTOURAGE-PRO
</p>
<h1>
    <a name="h.tyjcwt"></a>
    1. PRÉSENTATION DE L’ASSOCIATION ENTOURAGE ET MENTIONS LÉGALES
</h1>
<p>
    L’application ENTOURAGE-PRO (ci-après « l’Application ») est éditée par l’association Entourage – Association loi 1901 sans but lucratif, dont le siège
    social est sis au 40 avenue Hoche, Paris 8ème. (ci-après « Entourage »).
</p>
<p>
    Entourage Pro facilite la coordination des tournées de rues (maraudes) des associations de lutte contre l’exclusion.
</p>
<p>
    L’Application est destinée à faciliter la gestion de leurs maraudes (tournées de rues à la rencontre des personnes sans-abri) par les associations
    partenaires de Entourage (ci-après les « Partenaires »).
</p>
<p>
    Le Directeur de la publication de l’Application est<strong> </strong>Monsieur <strong>Jean-Marc Potdevin</strong>
</p>
<p>
    L’Application est hébergée par la société <strong>HEROKU Inc</strong>
</p>
<p>
    321 11th St, San Francisco, CA, 94103, United States
</p>
<p>
    <a href="http://www.heroku.com/">http://www.heroku.com</a>
    .
</p>
<p>
    feedback@heroku.com. tel : +1 (877) 563-4311
</p>
<p>
    Il est possible de prendre contact avec Entourage (notamment en cas de demandes, réclamations ou de notifications de la part de l’Utilisateur) à l’adresse
    électronique suivante : contact@entourage.social
</p>
<h1>
    <a name="h.3dy6vkm"></a>
    2. OBJET DES CONDITIONS D’UTILISATION
</h1>
<p>
    Les Conditions d’Utilisation ont pour objet de définir les conditions d’accès et d’utilisation de l’Application par les membres des associations ayant
    souscrit/conclu un partenariat spécifique avec Entourage.
</p>
<p>
    Elles ont vocation à s’appliquer et à régir l’usage de l’Application par toutes personnes (ci-après « Utilisateurs ») indépendamment de leurs qualités, le
    lieu où elles se trouvent, les modalités de connexion, l’objet et la finalité de leur accès à l’Application.
</p>
<h1>
    <a name="h.1t3h5sf"></a>
    3. Acceptation des conditions d’utilisation par l’utilisateur
</h1>
<p>
    L’accès à l’Application vaut acceptation intégrale et sans réserve des présentes Conditions d’Utilisation par l’Utilisateur et des leurs éventuelles mises
    à jour ultérieures.
</p>
<p>
    Ces Conditions Générales peuvent être modifiées à tout moment par Entourage et entrent en vigueur à compter de leur mise en ligne sur l’Application. Aussi,
    tout Utilisateur doit régulièrement consulter les Conditions Générales et vérifier l’existence de telles modifications. Tout Utilisateur sera réputé avoir
    accepté la nouvelle version des Conditions Générales du simple fait de l’accès à l’Application et/ou de la poursuite de l’utilisation des services.
</p>
<p>
    Les Conditions Générales applicables à l’Utilisateur sont celles en vigueur au jour où celui-ci accède, consulte et/ou utilise l’Application.
</p>
<p>
    Le Client peut à tout moment consulter librement les Conditions Générales sur le site web de Entourage afin de les sauvegarder et les imprimer.
</p>
<h1>
    <a name="h.4d34og8"></a>
    4. Durée
</h1>
<p>
    Les Conditions d’Utilisation lient les Utilisateurs et Entourage pour toute la durée de l’utilisation de l’Application.
</p>
<p>
    <a name="h.2s8eyo1"></a>
</p>
<h1>
    <a name="h.17dp8vu"></a>
    5. Services proposes
</h1>
<p>
    Les Services mis à disposition des Utilisateurs via l’Application sont les suivants :
</p>
<p>
    <a name="h.3rdcrjn"></a>
    ● compte-rendu de maraudes par dictée vocale
</p>
<p>
    ● visualisation des maraudes inter-associatives
</p>
<p>
    ● accès au guide de solidarité
</p>
<h1>
    <a name="h.26in1rg"></a>
    6. utilisation des services
</h1>
<h2>
    <a name="h.lnxbz9"></a>
    6.1 Conditions d’accès
</h2>
<p>
    L’Application est mise à disposition des Utilisateurs exclusivement dans le cadre des partenariats qui lient Entourage et ses Partenaires.
</p>
<p>
    L’Utilisateur en acceptant les présentes Conditions déclare être majeur et n’utiliser l’Application que dans le cadre de son implication au sein de
    l’association Partenaire.
</p>
<h2>
    <a name="h.35nkun2"></a>
    6.2 Accès aux Services par les Utilisateurs Pro
</h2>
<p>
    <em>[Détails des modalités d’accès à compléter/modifier en tant que de besoin]</em>
</p>
<p>
    Afin de pouvoir accéder à l’Application, les Utilisateurs doivent, au préalable, remplir en ligne un formulaire d’inscription et renseigner le code d’accès
    à 6 chiffres communiqué par Entourage.
</p>
<p>
    Les codes d’accès utilisés permettent, d’une part, de s’assurer de l’identité de l’Utilisateur et, d’autre part, permettent de présumer que toute opération
    effectuée après composition du mot de passe émane nécessairement d’un Utilisateur dument habilité et autorisé.
</p>
<h2>
    <a name="h.1ksv4uv"></a>
    6.3 Gestion des mots de passe
</h2>
<p>
    Les codes d’accès sont personnels, confidentiels et non transmissibles. Afin de respecter la confidentialité des codes d’accès, il est notamment demandé
    aux Utilisateurs de ne pas transmettre ou communiquer leurs codes d’accès et d’avertir sans délai Entourage en cas de perte ou de vol de ses codes d’accès.
</p>
<h2>
    <a name="h.44sinio"></a>
    6.4 Licence d’accès à l’Application
</h2>
<p>
    Entourage accorde une licence limitée à l’accès et à l’utilisation de l’Application à l’Utilisateur.
</p>
<p>
    En aucun cas, l’Utilisateur n’est autorisé à télécharger et/ou à modifier et/ou à reproduire tout ou partie de l’Application. La mise en place par un
    Utilisateur d’un lien hypertexte vers une plateforme de téléchargement de l’Application est possible mais ne saurait en aucun cas engager la responsabilité
    de Entourage.
</p>
<p>
    En outre, l’Utilisateur s’engage à ne rien faire qui puisse créer une quelconque référence à Entourage ou à l’Application et engager la responsabilité de
    Entourage envers des tiers.
</p>
<p>
    Toute utilisation de contenus (information, texte, charte graphique, rubrique, image, cartes …) et/ou dénomination et/ou de marques et/ou de logos ou
    autres signes distinctifs de Entourage est interdite sauf autorisation préalable expresse et écrite de Entourage.
</p>
<h2>
    <a name="h.2jxsxqh"></a>
    6.5 Contenus
</h2>
<p>
    Certains services et fonctionnalités de l’Application ont pour finalité d'offrir aux Utilisateurs des outils de prise de note, de rédaction de compte
    rendus ou de partage d’informations en lien avec leurs missions d’assistances des Bénéficiaires.
</p>
<p>
    Entourage s’interdit d’accéder à ces contenus ou informations créés par les Utilisateurs dans le cadre de leur implication au sein des associations
    Partenaires. Entourage ne procède donc à aucune vérifications des contenus et informations partagés par les Utilisateurs.
</p>
<p>
    L’Utilisateur demeure seul responsable au titre des contenus et informations qu’il collecte et rend accessible via l’Application et s’engage à répondre de
    tout dommage qui en découlerait pour Entourage.
</p>
<p>
    L’Utilisateur est informé qu'il est strictement interdit de collecter et/ou d'utiliser les données à caractère personnel des Bénéficiaires sans leur accord
    express.
</p>
<h2>
    <a name="h.z337ya"></a>
    6.6 Suppression de l’accès à l’Application
</h2>
<p>
    Entourage se réserve le droit de supprimer l’accès à l’Application à tout Utilisateur qui ne se conforme pas aux présentes Conditions d’Utilisation et/ou
    qui enfreint la loi, notamment en diffusant par le biais de l’Application des messages contraires à l’ordre public ou aux bonnes mœurs, à caractère
    violent, raciste, ou faisant l’apologie des crimes de guerre, injurieux ou grossiers, contraires aux droits d’auteur ou droits voisins, au droit applicable
    aux bases de données, au droit des marques, au droit à l’image, au droit au respect de la vie privée, au droit de la concurrence ou qui enfreindraient
    toute autre disposition législative ou réglementaire en vigueur.
</p>
<h1>
    <a name="h.3j2qqm3"></a>
    7. garanties et limitations de responsabilité
</h1>
<p>
    Au travers de l’Application, Entourage met à disposition de ses Partenaires un outil leur permettant d’optimiser leurs actions à destination des
    Bénéficiaires. Les Partenaires et les Utilisateurs sont seuls responsable des qu’ils font de l’Application ainsi que des informations, contenus et/ou
    documents créés ou partagés au travers de l’Application.
</p>
<p>
    Entourage n'est pas en mesure et s’interdit d'exercer un quelconque contrôle des informations et contenus transmis via ses services et en conséquence ne
    saurait en aucune manière être tenue responsable de quelque perte ou dommage que ce soit, direct ou indirect, résultant de la non-conformité d’un usage à
    la réglementation en vigueur, d'erreur ou d'omission, de quelque perte ou dommage que ce soit, direct ou indirect, consécutif à l'utilisation de
    l’Application par un Utilisateur.
</p>
<p>
    L'Utilisateur reconnaît expressément qu'il doit faire preuve de discernement dans l'utilisation qu'il fait tant des outils offerts par Entourage au travers
    de son Application et supporte tous les risques y afférent, notamment concernant la licéité, la véracité, l'opportunité ou l'utilité des informations et
    contenus qu’il entend partager au travers de l’Application.
</p>
<p>
    Entourage attire particulièrement l’attention des Utilisateurs qu’elle appelle à la plus grande diligence concernant notamment :
</p>
<p>
    ● la mise à disposition d’information pouvant porter atteinte à la vie privée des personnes sans leur consentement ;
</p>
<p>
    ● le nécessaire respect des lois applicables en matière de traitement de données à caractère personnel et de protection des personnes et de leur vie
    privée.
</p>
<p>
    Par ailleurs, l’Utilisateur reconnaît et accepte que :
</p>
<p>
    ● Entourage garantit à l'Utilisateur l'existence matérielle de l’Application et des services et fonctionnalités y afférent dans le cadre d'un usage
    conforme aux Conditions d'Utilisation. Entourage ne fournit à l'Utilisateur aucune autre garantie d'aucune sorte, expresse ou implicite ;
</p>
<p>
    ● l’utilisation de l’Application se fait aux risques et périls de l’Utilisateur notamment en ce qui concerne le téléchargement de données, de fichiers ou
    de logiciels qui pourraient endommager son terminal. La responsabilité de Entourage ne peut en particulier être engagée pour toute perte de données, virus,
    bogue informatique ou dommage affectant le terminal de l’Utilisateur ;
</p>
<p>
    ● Entourage ne garantit pas l’adéquation entre les services et fonctionnalités proposés via son Application et les attentes de l’Utilisateur ;
</p>
<p>
    ● Entourage ne garantit pas la continuité des services et ne peut en conséquence être tenue responsable d’une perte ou d'un dommage, direct ou indirect,
    qui pourrait résulter d’une interruption ou d’une suspension d’un ou de l’ensemble des services et fonctionnalités de l’Application ;
</p>
<p>
    ● Entourage ne garantit pas la qualité et/ou la licéité ou la conformité à la loi du contenu non créé par Entourage ou diffusés sur des sites extérieurs
    accessibles par le biais d’un lien hypertexte à partir de l’Application ;
</p>
<p>
    ● Entourage ne saurait être tenue responsable de la violation par l’Utilisateur de droits, notamment privatifs, détenus par des tiers et portant sur des
    données diffusées par l’Utilisateur ;
</p>
<p>
    ● Entourage ne pourra être tenue responsable de dommages, directs ou indirects, tels que pertes financières, manques à gagner, troubles de quelque nature
    que ce soit qui pourraient résulter de l’utilisation ou de l’impossibilité d’utilisation l’Application.
</p>
<p>
    ● Entourage ne pourra être tenue responsable des dommages, directs ou indirects, qui pourraient résulter de l'utilisation non autorisée par un tiers des
    noms et mot de passe de l'Utilisateur.
</p>
<h1>
    <a name="h.1y810tw"></a>
    8. Maintenance de l’application
</h1>
<p>
    Entourage s’engage à assurer la maintenance régulière de l’Application et se réserve également la possibilité de recourir à un tiers afin d’assurer une
    partie ou la totalité des dites opérations de maintenance. Certaines opérations de maintenance pourront entraîner des interruptions momentanées des
    services et fonctionnalités de l’Application.
</p>
<h1>
    <a name="h.4i7ojhp"></a>
    9. assistance des utilisateurs
</h1>
<p>
    Entourage s’engage à faire ses meilleurs efforts pour apporter aux Utilisateurs l'assistance technique nécessaire à la bonne utilisation de l’Application
    et à leur fournir tous conseils et informations à ce titre. Cette assistance technique sera réalisée exclusivement à distance (contact@entourage.social).
</p>
<p>
    Les Utilisateurs pourront contacter Entourage en s’adressant à : contact@entourage.social
</p>
<p>
    Les horaires d’ouverture du service sont les suivants : du lundi au vendredi de 9h à 18h à l’exclusion des jours fériés.
</p>
<h1>
    <a name="h.2xcytpi"></a>
    10. Données personnelles
</h1>
<h2>
    <a name="h.1ci93xb"></a>
    10.1 Déclaration auprès de la CNIL
</h2>
<p>
    Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’Informatique, aux Fichiers et aux Libertés (Loi « Informatique et Libertés »), les traitements
    de données personnelles effectués par Entourage dans le cadre des présentes, sont déclarées auprès de la Commission nationale de l’informatique et des
    libertés.
</p>
<h2>
    <a name="h.3whwml4"></a>
    10.2 Collecte des données personnelles
</h2>
<p>
    Au sens de la loi « Informatique et Libertés », toute information relative à une personne physique identifiée ou qui peut être identifiée, directement ou
    indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres constitue une donnée à caractère personnel.
</p>
<p>
    En acceptant les présentes Conditions, les Utilisateurs acceptent expressément que les données nominatives les concernant recueillies à l’occasion des
    Services puissent faire l’objet d’un traitement automatisé par Entourage.
</p>
<h2>
    <a name="h.2bn6wsx"></a>
    10.3 Traitement des données personnelles des Utilisateurs
</h2>
<p>
    Entourage informe les Utilisateurs que leurs données à caractère personnel recueillies notamment par le biais des formulaires d’inscription ou de contact
    font l'objet d'un traitement automatisé pour les besoins de la fourniture des services et fonctionnalités de l’Application.
</p>
<p>
    Outre le personnel habilité de Entourage, les seuls destinataires des données sont les Partenaires et autres Utilisateurs concernés en cas de partage
    volontaire de l’Utilisateur.
</p>
<p>
    Entourage pourra adresser aux Utilisateurs des emails d’information sur ces activités et les évolutions des outils accessibles via l’Application. Les
    Utilisateurs pourront demander à ne plus recevoir ce type de communication en cliquant sur le lien figurant dans l’email promotionnel reçu.
</p>
<p>
    En application de la loi "Informatique et Libertés", les Utilisateurs bénéficient de droits d’accès, d’opposition, de modification et de suppression des
    données les concernant qu’ils pourront exercer auprès de contact@entourage.social
</p>
<h2>
    <a name="h.qsh70q"></a>
    10.4 Traitement des données personnelles des Bénéficiaires
</h2>
<p>
    Dans le cadre de l’utilisation de l’Application et des services et fonctionnalités y afférent, les Utilisateurs pourraient être amenés à collecter et
    traiter des données à caractère personnel sur les Bénéficiaires qu’ils entendent accompagner dans le cadre de la mission des Partenaires. Il est
    expressément convenu que Entourage ne fournit aux Utilisateurs et Partenaires qu’un outil pour les aider dans leurs missions et ne saurait donc être
    responsable d’une quelconque manière de la conformité des pratiques des Utilisateurs et des Partenaires et de tout éventuel non-respect de la
    réglementation applicable.
</p>
<p>
    A cet égard, Entourage attire l’attention des Utilisateurs et Partenaires sur les règles et bonnes pratiques à respecter en la matière. Ces règles et
    bonnes pratiques qui figurent en annexe des présentes font partie intégrante des Conditions Générales et en constituent des conditions essentielles.
</p>
<h2>
    <a name="h.3as4poj"></a>
    10.5 Cookies
</h2>
<p>
    L’utilisation de technologies de type Cookies permet à Entourage d’améliorer l’utilisation de l’Application en facilitant la communication par voie
    électronique. Les cookies utilisés par Entourage n’ont pour finalité que de lier les actions d’un Utilisateur (cookies de session) ou d’enregistrer ses
    préférences lorsque cela est nécessaire pour lui fournir le service ou les fonctionnalités qu’il demande,
</p>
<p>
    L’Utilisateur peut, s’il le souhaite désactiver les cookies en modifiant les préférences de son navigateur.
</p>
<h1>
    <a name="h.1pxezwc"></a>
    11. Responsabilité
</h1>
<p>
    Entourage fera en sorte d’apporter le plus grand soin afin d’apporter un service de qualité aux Utilisateur, néanmoins Entourage ne saurait être tenue à
    une quelconque obligation de résultat au titre des services et fonctionnalités disponibles dans l’Application.
</p>
<p>
    Les informations et contenus échangés entre Utilisateurs grâce à l’Application le seront sous la responsabilité exclusive de leur auteur sans intervention
    de Entourage. Les auteurs s’engagent à faire leur affaire de leur conformité aux dispositions législative et réglementaires en vigueur, sous peine
    d’encourir la suppression de leur accès à l’Application conformément aux stipulations de l’article « RADIATION DE L’UTILISATEUR » ci-après.
</p>
<p>
    Entourage s’efforcera de mettre en œuvre tous les moyens nécessaires afin de maintenir l’Application accessible aux Utilisateurs. La responsabilité de
    Entourage ne pourra toutefois pas être engagée en cas d’impossibilité pour l’Utilisateur d’utiliser tout ou partie des services et fonctionnalités de
    l’Application quelle qu’en soit la cause, en particulier lors des périodes au cours desquelles il est procédé à la maintenance et/ou à l’amélioration des
    programmes et/ou matériels nécessaires au bon fonctionnement des services proposés ou à l’extension de leurs fonctionnalités.
</p>
<p>
    Entourage n’est pas responsable en cas d’interruption du réseau Internet ni en cas d’utilisation abusive ou illicite du code d’accès de l’Utilisateur.
</p>
<p>
    La responsabilité de Entourage ne peut être retenue en cas de manquement à ses obligations contractuelles du fait d’un cas fortuit ou d’un cas de force
    majeure tel que défini par la jurisprudence française.
</p>
<h1>
    <a name="h.49x2ik5"></a>
    12. Droits de propriété intellectuelle
</h1>
<p>
    A l’exclusion des informations et contenus créés ou partagés par les Utilisateurs, l’ensemble des éléments constituant l’Application, y incluant en
    particulier les programmes informatiques, logiciels, bases de données, outils et contenus utilisés (titres, éditoriaux, images, organisation, logiciels,
    signes distinctifs …) sont la propriété exclusive de Entourage et/ou des personnes lui ayant consenti une licence.
</p>
<p>
    Les présentes ne comportent aucune cession ou concession de droits de propriété intellectuelle au bénéfice de l’Utilisateur, en dehors des autorisations
    prévues aux présentes. Sous cette réserve, l’Utilisateur ne peut en aucun cas, reproduire ou réutiliser tout ou partie de l’Application.
</p>
<h1>
    <a name="h.2p2csry"></a>
    13. Radiation de l’Utilisateur
</h1>
<p>
    Entourage se réserve le droit de radier immédiatement un Utilisateur inscrit, en cas de non-respect de l’une des Conditions d’Utilisation ou de conditions
    particulières propres à tout ou partie des services et fonctionnalités de l’Application.
</p>
<h1>
    <a name="h.147n2zr"></a>
    14. conservation et archivage
</h1>
<p>
    Entourage s’engage auprès des Utilisateurs à conserver tous documents contractuels dans les conditions imposées par la réglementation en vigueur.
</p>
<p>
    Les Utilisateurs pourront obtenir communication de ces archives en adressant une lettre recommandée avec accusé de réception à Entourage à l’adresse
    postale suivante : 40 avenue Hoche, Paris 8ème
</p>
<h1>
    <a name="h.3o7alnk"></a>
    15. Permanence
</h1>
<p>
    La nullité d’une clause quelconque des Conditions d’Utilisation n’affecte pas la validité des autres clauses ; elle se poursuit en l’absence du dispositif
    annulé sauf si la clause annulée rend la poursuite des relations contractuelles impossible ou déséquilibrée par rapport aux stipulations contractuelles
    initiales.
</p>
<h1>
    <a name="h.23ckvvd"></a>
    16. Loi applicable et juridiction compétente
</h1>
<p>
    Les présentes conditions d’utilisation sont soumises à la loi française. A défaut de règlement amiable, toute difficulté d’interprétation ou d’exécution
    sera exclusivement portée devant les Tribunaux compétents du ressort de la Cour d’appel de Paris.
</p>
<br clear="all"/>
<p>
    ANNEXE
</p>
<p>
    Guide des règles et bonnes pratiques applicables en matière de protection des données à caractère personnel des Utilisateurs et Bénéficiaires
</p>
<p>
    Le présent guide présente les principales règles à respecter en matière de traitement des données à caractère personnel et de protection de la vie privée.
</p>
<p>
    Les règles présentées ci-dessous sont les conditions essentielles à respecter par toutes personnes physiques ou morales souhaitant faire usage ou
    bénéficier de l’Application. Elles n’ont pas vocation à couvrir de manière exhaustive l’ensemble des obligations légales afférent aux associations
    Partenaire d’Entourage. Il est précisé que celles-ci ne sauraient revêtir le caractère officiel de conseils juridiques et ne dispensent pas de demandes de
    conseils spécifiques auprès de la CNIL ou d’un professionnel du droit.
</p>
<p>
    <strong>Données et respect de la loi « informatique et libertés » :</strong>
</p>
<p>
    Dans le cadre de la réalisation de ses missions, votre organisme est susceptible de traiter de nombreuses données personnelles (par exemple : nom, prénom,
    surnom, adresse, numéro de téléphone). Le traitement de ces informations personnelles est soumis à la loi du 6 janvier 1978 - loi « Informatique et
    Libertés ».
</p>
<p>
    <em>- Données sensibles :</em>
</p>
<p>
    Certaines données sont plus sensibles que d’autres. Il s’agit des données qui font apparaître, directement ou indirectement, les origines raciales ou
    ethniques, les opinions politiques, philosophiques ou religieuses ou l’appartenance syndicale des personnes, ou qui sont relatives à la santé ou à la vie
    sexuelle de celles-ci (article 8 de la loi informatique et libertés). En principe, elles ne peuvent être traitées qu’avec le consentement des personnes
    (sauf exceptions) et sont soumises à autorisation de la CNIL. Entourage ne pourra en aucun cas être tenu pour responsable d’une utilisation frauduleuse ou
    abusive de données personnelles sensibles.
</p>
<p>
    <em>- Prises de notes et zones commentaires libres : </em>
</p>
<p>
    Une attention particulière doit être portée aux zones commentaires ou aux éléments renseignés lors des prises de notes au cours d’une maraude. La CNIL a
    édité une fiche pratique avec de nombreux conseils pour éviter des dérives possibles :
    <a href="http://www.cnil.fr/documentation/fiches-pratiques/fiche/article/zones-bloc-note-et-commentaires-les-bons-reflexes-pour-ne-pas-deraper/">
        http://www.cnil.fr/documentation/fiches-pratiques/fiche/article/zones-bloc-note-et-commentaires-les-bons-reflexes-pour-ne-pas-deraper/
    </a>
</p>
<p>
    <strong>Droits des personnes :</strong>
</p>
<p>
    <strong>Information :</strong>
    Lors de la collecte des données, les personnes concernées (intervenants, usagers) doivent être clairement informées des objectifs poursuivis, du caractère
    obligatoire ou facultatif de leurs réponses, des destinataires des données et des modalités d’exercice de leurs droits (droit d’opposition, droit d’accès
    aux données les concernant, droit de rectification).
</p>
<p>
    Droit d’accès et de rectification : Toute personne peut demander au détenteur d’un fichier de lui communiquer toutes les informations qui la concernent.
    Elle a également le droit de faire rectifier ou supprimer les informations erronées (articles 39 et 40 de la loi précitée).
</p>
<p>
    Droit d’opposition : Toute personne a le droit de s’opposer, pour des motifs légitimes, à ce que des données qui la concernent soient enregistrées dans un
    fichier informatique, sauf si celui-ci résulte d’une obligation légale (article 38 de la loi précitée).
</p>
<p>
    Concernant la fonctionnalité de géolocalisation proposée par l’intermédiaire de l’application Entourage Pro, il convient de :
</p>
<p align="left">
    - aborder préalablement ce sujet avec les instances représentatives du personnel
</p>
<p align="left">
    - informer préalablement et individuellement chaque salarié ou bénévole (voir annexe).
</p>
<p>
    <strong>Durée de conservation :</strong>
</p>
<p>
    De manière générale, il est nécessaire de définir une durée de conservation des données traitées. Ainsi, il est indispensable de ne pas stocker de manière
    indéfinie les comptes rendus rédigés lors des maraudes et retransmis par Entourage.
</p>
<p>
    <strong>Sécurité :</strong>
</p>
<p>
    Compte tenu de la sensibilité des informations collectées, il est nécessaire d’adopter des mesures de sécurité adéquates pour garantir leur sécurité et des
    accès non autorisés : par exemple, des habilitations spécifiques, des mots de passe renouvelés régulièrement, verrouillage automatique des postes, etc.
    Pour de plus amples informations, vous pouvez consulter le guide sécurité édité par la CNIL :
    <a href="http://www.cnil.fr/fileadmin/documents/Guides_pratiques/Guide_securite-VD.pdf">
        http://www.cnil.fr/fileadmin/documents/Guides_pratiques/Guide_securite-VD.pdf
    </a>
    .
</p>
<p>
    <strong>Formalités préalables auprès de la CNIL :</strong>
</p>
<p>
    Tout fichier informatisé contenant des données permettant d’identifier directement ou indirectement des personnes physiques doit faire l’objet de
    formalités auprès de la CNIL, préalablement à sa mise en œuvre, sauf s’il est exonéré de déclaration. Les formalités à accomplir (déclaration ou demande
    d’autorisation) dépendent de la finalité du traitement et de la nature des données collectées.
</p>
<p>
    Il peut être nécessaire de mettre à jour les formalités préalables que vous avez déjà réalisées auprès de la CNIL, si par exemple l’utilisation d’Entourage
    implique le traitement de nouvelles données (par exemple, des données de géolocalisation) Pour cela, il vous suffit d’envoyer un courrier en recommandé à
    la CNIL avec le numéro d’autorisation / déclaration et d’indiquer à la CNIL les modifications à y apporter (par exemple : nouvelles données traitées,
    nouvelles finalités, etc.).
</p>
<p>
    Pour rappel, les traitements comportant des appréciations (commentaires, observations, évaluation) sur les difficultés sociales des personnes sont soumis à
    autorisation préalable de la CNIL.
</p>
<p>
    Pour de plus amples informations, veuillez consulter la rubrique du site de la CNIL dédié à ce sujet :
</p>
<p>
    <a href="http://www.cnil.fr/vos-obligations/declarer-a-la-cnil/">http://www.cnil.fr/vos-obligations/declarer-a-la-cnil/</a>
    .
</p>
<p>
    <strong>Information des personnels et agents des associations et Partenaires</strong>
</p>
<p>
    L’Application permettant la géolocalisation des membres, salariés ou agents des Partenaires de Entourage, il est nécessaire que ces derniers soient
    clairement informés de cette fonctionnalité. Ci-après figure un exemple du type d’information à fournir sachant que pour être en conformité avec la loi
    l’information délivrée devra contenir a minima le même niveau de détail.
</p>
<p>
    <strong>Ex :</strong>
    ………………………………… <em>(indication de l’identité du responsable du traitement)</em>
</p>
<p>
    Nous utilisons un logiciel qui permet de localiser les intervenants des maraudes localiser en temps réel. Ce nouveau service va nous servir de (Précisez)
</p>
<p>
    Nous aurons connaissance de l’itinéraire que vous suivez ainsi que des arrêts que vous effectuez.
</p>
<p>
    Les données relatives à vos déplacements sont conservées au maximum <em>(précisez)</em>.
</p>
<p>
    Au-delà, toutes les données sont rendues anonymes et ont pour seul objet la réalisation de statistiques.
</p>
<p>
Seuls les services suivants sont destinataires de ces informations (    <em>précisez, par exemple direction des ressources humaines, responsables opérationnels…</em>).
</p>
<p>
    <a name="h.ihv636"></a>
    Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous pouvez avoir accès et rectifier les informations qui vous
    concernent en vous adressant à ……………………………… <em>(préciser le service et l’adresse)</em>
</p>
<p>
    <a name="h.32hioqz"></a>
</p>
