<div class="container">
  <div style="width: 750px; margin: auto">
    <ol class="breadcrumb">
      <li><%= link_to "Diffusions de MP", admin_user_message_broadcasts_path %></li>
      <li class="active">Créer</li>
    </ol>

    <h1>Nouvelle diffusion de messages privés</h1>

    <%= render partial: 'form' %>
  </div>
</div>
