<div class="container-fluid">
  <div class="left-panel">
    <div class="col-md-4">
      <h3>Informations sur cette maraude :</h3>
      <h4>Distance parcourue : <%= @tour_presenter.distance %></h4>
      <h4>heude de début : <%= @tour_presenter.start_time %></h4>
      <h4>heude de fin : <%= @tour_presenter.end_time %></h4>
      <h4>Durée : <%= @tour_presenter.duration %></h4>
    </div>
  </div>
  <div class="col-md-8">
    <div id="map-maraudes"></div>
  </div>
</div>