<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bonjour,
</p>
<p>
  Un nouveau message est disponible pour l'équipe entourage dans <a href="http://admin.entourage.social">l'espace admin</a>
</p>
<p>
  Contenu du message : "<%= @message.content %>"
</p>
</body>
</html>
