<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bonjour,
</p>
<p>
  Un demande d'adhésion a été effectuée par
  <%= @request.user_field('first_name') %> <%= @request.user_field('last_name') %>
  pour l'association
  <%= @request.organization_field('name') %>.
  Vous pouvez la valider ou la refuser depuis
  <a href="http://admin.entourage.social/registration_requests">l'espace admin</a>.
</p>
<p>
  <b>Association</b><br>
  Nom : <%= @request.organization_field('name') %><br>
  Antenne locale : <%= @request.organization_field('local_entity') %><br>
  Adresse : <%= @request.organization_field('address') %><br>
  Description : <%= @request.organization_field('description') %><br>
</p>
<p>
  <b>Contact</b><br>
  Nom : <%= @request.user_field('first_name') %> <%= @request.user_field('last_name') %><br>
  Email : <%= @request.user_field('email') %><br>
  Téléphone : <%= @request.user_field('phone') %><br>
</p>
</body>
</html>
