<div class="container">
  <div style="width: 750px; margin: auto">
    <ol class="breadcrumb">
      <li><%= link_to "Contenus pédagogiques", admin_resources_path %></li>
      <li class="active">Modifier</li>
    </ol>

    <h2>
      <span class="text-muted">#<%= @resource.id %></span>
      <%= @resource.name %>
    </h2>

    <%= render partial: 'form_translation' %>
  </div>
</div>
