<div class="container">
  <div style="width: 750px; margin: auto">
    <ol class="breadcrumb">
      <li><%= link_to "Contenu pédagogique", admin_resources_path %></li>
      <li class="active">Créer</li>
    </ol>

    <h1>Nouveau contenu pédagogique</h1>

    <%= render partial: 'form' %>
  </div>
</div>
