  <div class="row">
    <ol class="breadcrumb">
      <li><%= link_to "openai_assistants", admin_openai_assistants_path %></li>
      <li class="active">Modifier</li>
      <li style="float: right;">
        Version <%= @openai_assistant.version %>
      </li>
    </ol>

    <h2>
      <span class="text-muted"># Version <%= @openai_assistant.version %></span>
    </h2>
  </div>
