<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Cartes d'annonce", admin_announcements_path %></li>
    <li class="active">Modifier une carte</li>
  </ol>

  <h2>
    <span class="text-muted">#<%= @announcement.id %></span>
    <%= @announcement.title&.presence || "(Carte sans titre)" %>
  </h2>

  <%= render partial: 'form' %>
</div>
