<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Cartes d'annonce", admin_announcements_path %></li>
    <li class="active">Nouvelle carte</li>
  </ol>

  <h1>Nouvelle carte d'annonce</h1>

  <%= render partial: 'form' %>
</div>
