<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Photos de contenus pédagogiques", admin_resource_images_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle photo de contenu pédagogique</h1>

  <%= render partial: 'form' %>
</div>
