<div class='panel panel-default'>
  <div class="panel-body">
    <%= search_form_for [:admin, @q], class: 'form-inline' do |f| %>

      <div class='form-group'>
        <%= f.label :name_cont, 'Titre' %>
        <%= f.search_field :name_cont, class: 'form-control' %>
      </div>

      <%= f.submit 'Rechercher', class: 'btn btn-default' %>
    <% end %>

  </div>
</div>
