<div class="row">
  <div class='col-sm-8'>
    <%= @entourage.description %>
  </div>

  <div class='col-sm-4 '>
    <div class='pull-right'>
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      <%= @entourage.approximated_location %>
    </div>
  </div>
</div>
