
<% if entourage.user.inapp_notifications.lexical_transformation_for(instance_match).any? %>
  <span class="label label-success">Reçue</span>
<% else %>
  <span class="label label-danger">Non reçue</span>
<% end %>
