<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Photos d'événements", admin_entourage_images_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle photo d'événement</h1>

  <%= render partial: 'form' %>
</div>
