<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Demandes de papotages", admin_user_smalltalks_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle demande de papotage</h1>

  <%= render partial: 'form' %>
</div>
