<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Recommandations", admin_recommandations_path %></li>
    <li class="active">Modifier</li>
  </ol>

  <h2>
    <span class="text-muted">#<%= @recommandation.id %></span>
    <%= @recommandation.name %>
  </h2>

  <%= render partial: 'form' %>
</div>
