<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Recommandations", admin_recommandations_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle recommandation</h1>

  <%= render partial: 'form' %>
</div>
