<div>
<ul class="nav nav-pills" role="tablist">
<li role="presentation" class="active"><a href="#maraudes" aria-controls="maraudes" role="tab" data-toggle="tab">Carte des maraudes</a></li>
<li role="presentation"><a href="#statistiques" aria-controls="statistiques" role="tab" data-toggle="tab">Statistiques</a></li>
</ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="maraudes"><h1>Carte des maraudes</h1></div>
<div role="tabpanel" class="tab-pane" id="statistiques"><h1>Statistiques</h1></div>
</div>
</div>