<div class="container-s mt-6">
  <div class="text-center mb-4">
    <div class="text-large"><%= @group.title %></div>
    <div class="mb-4">Invitation à un groupe Entourage</div>
    <a href="<%= @open_url %>" class="btn btn-primary">Rejoindre la discussion</a>
  </div>
  <% if @store_url %>
    <hr>
    <div class="text-center mt-4">
      <div>Vous n'avez pas encore l'application Entourage ?</div>
        <a href="<%= @store_url %>">Télécharger</a>
      </div>
    </div>
  <% end %>
</div>

<% content_for :scripts do %>
  <script>
    window.location = "<%= @open_url %>"
  </script>
<% end %>
