<div class="container-s mt-6 mb-2 px-3">
  <div class="flex mb-2 flex-align-center">
    <div class="text-large flex-grow">Mes groupe de discussion</div>
    <%= link_to "Nouveau groupe", new_good_waves_group_path, class: "btn btn-outline" %>
  </div>

  <% @groups.each do |group| %>
    <div class="border-bottom py-1">
      <%= link_to group.title, good_waves_group_path(group) %>
    </div>
  <% end %>
</div>

