<style>
  html,
  body {
    height: 100%;
  }

  body {
    background-color: #f5f5f5;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 90px auto 0;
  }
  .form-signin .icon {
    border-radius: 23%;
    border: 1px solid rgba(0,0,0,0.1);
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="tel"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>

<form class="form-signin text-center"
      method="post" action="<%= community_admin_sessions_path %>">
  <img class="mb-4 icon" src="<%= image_path("community/#{community.slug}/logo-72.png") %>" alt="" width="72" height="72">
  <h1 class="h3 font-weight-normal">Connexion</h1>
  <div class="h5 mb-3 font-weight-normal">Accéder à l'outil d'animation</div>
  <% case params[:error] %>
  <% when 'login_failure' %>
    <div class="text-danger mb-3">Numéro de téléphone ou mot de passe incorrect.</div>
  <% when 'not_coordinator' %>
    <div class="alert alert-info text-left mb-3">
      <p class="alert-heading font-weight-bold">
        Vous ne faites pas partie des utilisateurs habilités à se connecter à ce site.
      </p>
      <p class="small">
        Contactez un Voisineur-Animateur de votre quartier ou l'adresse<br>
        <a href="mailto:voisin-age@petitsfreresdespauvres.fr">voisin-age@petitsfreresdespauvres.fr</a><br>
        si vous souhaitez vous aussi devenir Voisineur-Animateur.
      </p>
    </div>
  <% end %>
  <input name="phone" value="<%= params[:phone] %>" type="tel" class="form-control" placeholder="Numéro de téléphone" required autofocus>
  <input name="password" type="password" class="form-control" placeholder="Saisissez votre mot de passe" required>
  <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Se connecter</button>
  <%= token_tag %>
</form>
