<div class="container">
  <div style="width: 750px; margin: auto">
    <ol class="breadcrumb">
      <li><%= link_to "Zones de maraudes", admin_tour_areas_path %></li>
      <li class="active">Créer</li>
    </ol>

    <h1>Nouvelle zone de maraudes</h1>

    <%= render partial: 'form' %>
  </div>
</div>
