$navbar-height: 82px;
$navbar-inverse-bg: #252525;
$text-color: #555;
$buttons-color: #f1c40f;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "home";
@import "organization";

body { padding-top: $navbar-height; }
.navbar-brand { padding: 5px; }
h1, h2, h3, h4, h5, h6, .nav, select, button {
  font-family: 'Asap', sans-serif;
}
.nav {
  font-size: 15px;
  text-transform: uppercase;
}
.nav-pills {
  padding-top: 28px;
  border-bottom: 1px solid silver;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > li > a:hover {
  border-bottom : 4px solid #FFCE55;
  background-color: transparent !important;
}
.nav-pills > li > a {
  font-size: 14px;
  border-radius:0px;
  color: $text-color !important;
}

 #flash p {
  margin: 10px;
}