/* Reboot */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

input[type="file"] {
  max-width: 100%;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 1px solid rgba(0,0,0,.1);
}

.form-control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder,
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

/*
.form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

textarea.form-control:invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}
*/


/* Styles */
.page-header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

.page-header-logo {
  margin: 13px 18px 13px 18px;
  width: 24px;
  height: 34px;
}
.page-header-text {
  line-height: 60px;
}

.page-sidebar {
  position: sticky;
  top: 60px; /* header height */
  height: calc(100vh - 60px);
}

.page-sidebar-bottom {
  position: absolute;
  bottom: 0;
}

.bg-primary { background-color: #f55f24; color: #fff; }
.bg-black   { background-color: #333;    color: #fff; }

.color-black { color: #454545; }
.color-grey  { color: #858484; }
.color-danger { color: #dc3545; }
.color-primary { color: #f55f24; }

.box-shadow { box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13); }

.font-sans-serif { font-family: "Roboto", sans-serif; }

/*
15px l
14px m
13px s
12px xs
*/

.border-bottom { border-bottom: 1px solid #eee; }
.border-right { border-right: 1px solid #eee; }
.border { border: 1px solid #eee; }

.rounded { border-radius: 50%; }

.container-s { max-width: 33rem; margin: auto; width: 100vw; }

/*
05: 0.25rem
 1: 0.5rem
 2: 1rem !default; // 16px
 3: 1.5rem
 4: 2rem
 5: 3rem
 6: 4.5rem
*/

.mt-05 { margin-top: 0.25rem; }
.mt-1  { margin-top: 0.5rem; }
.mt-5  { margin-top: 3rem; }
.mt-6  { margin-top: 4.5rem; }
.mb-0  { margin-bottom: 0; }
.mb-05  { margin-bottom: 0.25rem; }
.mb-1  { margin-bottom: 0.5rem; }
.mb-2  { margin-bottom: 1rem; }
.mb-4  { margin-bottom: 2rem; }
.mb-6  { margin-bottom: 4.5rem; }
.mr-05 { margin-right: 0.25rem; }
.mr-1 { margin-right: 0.5rem; }
.mr-2 { margin-right: 1rem; }
.ml-2 { margin-left: 1rem; }
.ml-4 { margin-left: 2rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-5 { margin-top: 3rem; margin-bottom: 3rem; }
.px-2 { padding-right: 1rem; padding-left: 1rem; }
.px-3 { padding-right: 1.5rem; padding-left: 1.5rem; }
.pt-5 { padding-top: 3rem; }
.py-1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-2 { padding-top: 1rem; padding-bottom: 1rem; }

.text-bold { font-weight: bold; }
.text-medium { font-size: 125%; }
.text-large { font-size: 150%; }
.text-small { font-size: 80%; }

.hide { display: none; }

/* Buttons */

.text-button {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  border-radius: calc(1rem + 1px);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

a.btn {
  text-decoration: none;
}

form.button_to {
  display: inline-block;
}

.btn-primary {
  color: #fff;
  background-color: #f55f24;
  border-color: #f55f24;
}

.btn-primary:hover {
  color: #fff;
}

.btn-grey {
  background-color: #eee;
  border-color: #eee;
  color: #454545;
}

.btn-outline {
  background-color: #fff;
  border-color: #ced4da;
  color: #454545;
}

.btn-outline:hover {
  background-color: #eee;
  border-color: #eee;
}

.btn-outline-danger {
  background-color: #fff;
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.mt-negative-btn { margin-top: calc(-1 * (2rem + 2px)); }

.text-center { text-align: center; }
.text-right { text-align: right; }

.flex { display: flex; }
.flex-grow { flex-grow: 1; }
.flex-no-shrink { flex-shrink: 0; }
.flex-align-center { align-items: center; -ms-flex-align: center; }

.flex-25 { flex-basis: 25%; }
.flex-50 { flex-basis: 50%; }

.cursor-pointer { cursor: pointer; }

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.overlay-container a:not(.overlay) {
  position: relative;
  z-index: 2;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.material-icons-inline {
  font-size: 1.25em;
  vertical-align: text-bottom;
}

.oa-session-account-identifier {
  display: inline-block;
  border: 1px solid #ced4da;
  border-radius: 18px;
  padding: 4px;
}
.oa-session-account-identifier:hover {
  background-color: #eee;
  border-color: #eee;
}
.oa-s-ai-icon-account,
.oa-s-ai-icon-arrow {
  font-size: 24px;
  vertical-align: bottom;
}
.oa-s-ai-icon-account {
  margin-right: 4px;
}
.oa-s-ai-text {
  line-height: 24px;
}

.hover-underline:not(:hover),
a.hover-underline:not(:hover) {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}
