.badge {
  .badge-red {
    background-color: $red;
  }
  .badge-yellow {
    background-color: $yellow;
  }
  .badge-green {
    background-color: $green;
  }
  .badge-blue {
    background-color: $blue;
  }
  .badge-light-blue {
    background-color: $light-blue;
  }
}
