<div class="col-md-2">
  <h3>Filtres</h3>
  <input type="text" id="date-filter" class="map-filter form-control" placeholder="Sélection de la date" name="daterange" value=<%= @user_presenter.date_range %>/>
  <%= select_tag "tour_types",
                 options_for_select([["Médical", "medical"], ["A mains nues", "barehands"], ["Alimentaire", "alimentary"]], @user_presenter.tour_types),
                 {multiple: true, class: "map-filter form-control", id: "tour-type-filter"} %>
  <select class="map-filter form-control" disabled>
    <option>Zone géographique</option>
  </select>
  <% if @current_user.coordinated_organizations.count > 0 %>
    <select id="org-filter" class="map-filter form-control">
      <option value="">Choix de l'association</option>
      <% @user_presenter.coordinated_organizations.each do |org| %>
        <option value="<%= org.id %>"><%= org.name %></option>
      <% end %>
    </select>
  <% end %>
</div>