<ul class="nav nav-pills" role="tablist">
  <li role="presentation">
    <%= link_to "Carte des maraudes", dashboard_organizations_path  %>
  </li>
  <li role="presentation" class="active">
    <%= link_to "Statistiques", "#"  %>
  </li>
</ul>

<div class="col-md-3">
  <div class="left-panel" id="search-stats">
  </div>
</div>
<div class="col-md-7">
  <div id="map-rencontres"></div>
  <div class="text-center" style="margin: 10px;">
    <button type="button" class="btn btn-lg btn-entourage" data-toggle="modal" data-target="#messageModal">Envoyer
      un message
    </button>
  </div>
</div>
<%= render partial: "organizations/tour_filters" %>

<%= render partial: 'send_message' %>