<%= render 'header', tab: :engagement %>

<div class="alert alert-info" role="alert" style="display: flex; align-items: center">
  <div style="flex-grow: 1">
    Cet utilisateur est considéré comme <b><%= @user.engaged? ? 'engagé' : 'non engagé' %></b>
  </div>
</div>

<%= column_chart @user.engagement.stacked_by(:month), stacked: true %>
