<%= render 'header', tab: :engagement %>

<div class="alert alert-info" role="alert" style="display: flex; align-items: center">
  <div style="flex-grow: 1">
    Cet utilisateur est considéré comme <b><%= @user.engaged? ? 'engagé' : 'non engagé' %></b>
  </div>
</div>

<% if @user.engaged? %>
  <ul>
    <li>Score : <%= @user.engagement.score %></li>
    <% @user.engagement.levels.each do |level, count| %>
      <li><%= "level #{level} : #{count}" %></li>
    <% end %>
  </ul>
<% end %>
