<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Zones de modération", admin_moderation_areas_path %></li>
    <li class="active">Créer</li>
  </ol>

  <h1>Nouvelle zone de modération</h1>

  <%= render partial: 'form' %>
</div>
