<style>
  .remove-filter {
    position: relative;
    display: inline-block;
    padding: 0.2em;
    font-size: 1.3em;
    width: 1em;
    height: 1em;
    line-height: 0.45;
    border-radius: 3px;
    margin-right: -0.1em;
    margin-left: 0.1em;
    cursor: pointer;
  }

  .remove-filter:hover {
    background-color: rgba(0,0,0,0.3);
  }
</style>

<%= render 'nav', active: :private_circles %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="2" class="pr-0 pt-0 border-top-0">
              <div class="d-flex align-items-end">
                <div class="flex-grow-1">
                  <% if !params.key?(:archived) %>
                    <a href="?archived" class="text-muted">
                      Afficher les voisinages de personne archivés
                    </a>
                  <% else %>
                    Statut :
                    <a href="?" class="btn btn-sm btn-primary">
                      Archivés
                      <span class="remove-filter">&times</span>
                    </a>
                  <% end %>
                </div>
                <div>
                  <a href="<%= new_community_admin_private_circle_path %>"
                     class="btn btn-outline-secondary">Créer un voisinage de personne</a>
                </div>
              </div>
            </td>
          </tr>
        </thead>
        <% @private_circles.each do |private_circle| %>
          <tr class="js-overlay-container">
            <td>
              <%= link_to "", community_admin_private_circle_path(private_circle), class: "js-overlay" %>
              <%= private_circle.title %>
            </td>
            <td>
              <% if private_circle.has_pending %>
                <span class="badge badge-primary">En attente</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
