<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <ol class="breadcrumb">
        <li><%= link_to "Emails de récap", admin_digest_emails_path %></li>
        <li class="active">Emails à venir</li>
      </ol>

      <h1>Emails à venir</h1>

      <% if @emails.empty? %>
        <div class="text-muted">
          Aucun email n'est planifié.
        </div>
      <% else %>
        <table class="table">
          <% @emails.each do |email| %>
            <tr>
              <td>
                <%= link_to l(email.deliver_at, format: "%A %-d %B à %H:%M"), [:admin, email] %>
                (dans <%= time_ago_in_words email.deliver_at %>)
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
