<div class="container-s mt-6 mb-2 px-3">
  <%= render 'organization_admin/flashes' %>

  <div class="text-large mb-2">Modifier le logo</div>
  <div class="mb-2">
    <div style="width: 8rem; height: 8rem;"
         class="mx-auto logo-as-background rounded border"
         id="image-preview"></div>
  </div>
  <label>Choisissez un fichier</label>
  <form id="upload-form"
        action="#" method="post" enctype="multipart/form-data">
    <div class="mb-2">
      <input type="file" class="btn btn-outline"
             name="file" accept="<%= @form.content_types %>"
             style="width: 100%; text-align: left;"/>
    </div>
    <div class="text-right">
      <input type="submit" value="Enregistrer" class="btn btn-primary" disabled/>
    </div>
  </form>
  <%= link_to "Revenir à la description de l'organisation", edit_organization_admin_description_path, class: "color-grey" %>
</div>

<% layout_options(jquery: :full) %>
<% content_for :scripts do %>
  <script>
    (function() {
      var $form = $('#upload-form'),
          $fileInput = $form.find('input[type=file]'),
          $submit = $form.find('[type=submit]');

      $fileInput.on('change', function() {
        var file = this.files[0],
            $field = null,
            reader;

        if (!file) { return }

        $submit.prop('disabled', true);

        $.ajax(
          '<%= logo_upload_organization_admin_description_path %>', {
          data: {filetype: file.type}
        })
        .done(function(data) {
          $form.attr('action', data.url);
          Object.keys(data.fields).forEach(function(key) {
            $field = $form.find('input[name=' + key + ']');
            if ($field.length === 0) {
              $field = $('<input>', {name: key, type: 'hidden'})
                       .insertBefore($fileInput); // 'file' must be the last field
            }
            $field.val(data.fields[key]);
          });
          $submit.prop('disabled', false);

          try {
            reader = new FileReader();
            reader.onload = function(e) {
              $('#image-preview')[0].style.backgroundImage = 'url('+e.target.result+')';
            }
            reader.readAsDataURL(file);
          } catch (e) {
            (console.error || console.log).call(console, e.stack || e);
          }

        });
      });
    })();
  </script>
<% end %>
