Les variables suivantes sont disponibles :
<ul>
  <li><code>{{first_name}}</code> : <i>prénom du destinataire</i></li>
  <li><code>{{email}}</code> : <i>email du destinataire</i></li>
  <li><code>{{phone}}</code> téléphone du destinataire</li>
  <li><code>{{city}}</code> : <i>ville du destinataire</i></li>
  <li><code>{{uuid}}</code> : <i>uuid du destinataire</i></li>
  <li><code>{{default_neighborhood}}</code> : <i>nom du groupe de voisins par défaut du destinataire</i></li>
  <li><code>{{interests}}</code> : <i>centres d'intérêt du destinataire</i></li>
  <li><code>{{involvements}}</code> : <i>envies d'agir du destinataire</i></li>
  <li><code>{{availability}}</code> : <i>disponibilités du destinataire</i></li>
  <li><code>{{interlocutor}}</code> : <i>prénom du <b>modérateur</b> lié au destinataire</i></li>
</ul>
