<div class="row">
  <h1>Code de vérification</h1>
</div>

<form class="form-horizontal" role="form" id="new_user" accept-charset="UTF-8" method="post">
  <div class="row">
    <div class="control-group">
      <div class="col-md-3">
        <label class="control-label">Code SMS</label>
        <div class="controls">
          <input class="form-control" required="required" type="text" name="phone" id="user_sms_code">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <a href="#" class="btn btn-success" id="validate">Vérifier cet appareil</a>
  </div>
</form>
<script>
  var ready = function() {
    var form = $("#new_user");
    $("#validate").click(function() {
      $.ajax({
        type: form.attr('method'),
        url: "/api/v1/login",
        data: {"user":
                {"phone": '<%= User.last.phone %>',
                "sms_code": $("#user_sms_code").val()}
              },
        success: function(response){
          window.location.href = "/test_tunnel/users/step3";
        },
        error: function(){
          console.log("error");
        }
      });
    });
  }
  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>